
.waiter-list-listViewport {
     background-color: lightblue;     
//     width: 100%;
//     border: 1px solid black;  
}

.waiter-list-row-container {
     height: 200px;
//     width: 120px;
     // background-color: lightgreen;
    margin: 8px;
//     border-radius: 6px;
//     border: 1px solid black;
}

.waiter-list-row {
     height: 200px;
//     width: 100%;
     background-color: lightgreen; 
//     margin: 4px;
     // border-radius: 6px;
     border: 1px solid green;
//     padding-left: 8px;
}