
.court-row-container {
    // height: 60px;
    background-color: rgb(160, 233, 144);    
    width: 100%;
    // margin: 4px;
    // border-radius: 6px;
    border: 1px solid black;
    // padding: 4px;
}

// .court-heading {
    // height: 60px;
    // background-color: lightblue;    
    // width: 100%;
    // margin: 20px;
    // border-radius: 6px;
    // border: 1px solid black;
    // padding: 4px;
// }