.grid-view-container {
    height: 100%;
    width: 100%; 
    background-color: var(--mycontast-light);
    padding: 4px;
}

.grid-view {
    height: 100%;
    background-color: var(--mycontrast-light);
}

mat-grid-tile {
    background: WhiteSmoke;
  }
  