<div class="flex flex-col h-screen bg-blue-100">

   <div class="flex flex-row bg-blue-700 space-x-4 items-center">
      <img src="../assets/icons/players.svg" class="m-2 h-14">
      <p class="text-white text-3xl">{{pagename}}</p>     
   </div>

   <div fxFlex="none">
      <alerts></alerts>
   </div>

   <div class="grow">
      <accountdetail></accountdetail>
   </div>

   <div class="">
      <alertbuttons></alertbuttons>
   </div>

   <div class="">
      <fullfooter></fullfooter>
   </div>

</div>