<form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-2">


   <div class="flex flex-col gap-y-6 text-lg">
      <div class="flex flex-col space-y-4">
         <div>
            <label>First Name</label>
            <input type="email" [formControl]="firstname" name="firstname" id="firstname"
               placeholder="email@hotmail.com" class="form-input border border-gray-900 py-3 px-3 bg-white placeholder-gray-400 text-black 
                  appearance-none w-full block pr-14 text-lg">
            <div class="text-red-500" *ngIf="firstname.invalid">
               {{getErrorMessage(firstname)}}
            </div>
         </div>

         <div>
            <label>Last Name</label>
            <input type="text" [formControl]="lastname" name="lastname" id="lastname" placeholder="Bloggs" class="form-input border border-gray-900 py-3 px-3 bg-white placeholder-gray-400 text-black 
                  appearance-none w-full block pr-14 text-lg">
            <div class="text-red-500" *ngIf="lastname.invalid">
               {{getErrorMessage(lastname)}}
            </div>
         </div>

         <div>
            <label>Email</label>
            <input type="email" [formControl]="email" name="email" id="email" placeholder="fred.bloggs@hotmail.com"
               class="form-input border border-gray-900 py-3 px-3 bg-white placeholder-gray-400 text-black  
                  appearance-none w-full block pr-14 text-lg">
            <div class="text-red-500" *ngIf="email.invalid">
               {{getErrorMessage(email)}}
            </div>
         </div>

         <div>
            <label>Knownas</label>
            <input type="text" [formControl]="knownas" name="knownas" id="knownas" placeholder="Fred" class="form-input border border-gray-900 py-3 px-3 bg-white placeholder-gray-400 text-black  
                  appearance-none w-full block pr-14 text-lg">
            <div class="text-red-500" *ngIf="knownas.invalid">
               {{getErrorMessage(knownas)}}
            </div>
         </div>

         <div>
            <label>Phone</label>
            <input type="text" [formControl]="phone" name="phone" id="phone" placeholder="12345678" class="form-input border border-gray-900 py-3 px-3 bg-white placeholder-gray-400 text-black 
                  appearance-none w-full block pr-14 text-lg">
            <div class="text-red-500" *ngIf="phone.invalid">
               {{getErrorMessage(phone)}}
            </div>
         </div>

         <div>
            <label>Status</label>
            <select [formControl]="status" class="bg-gray-50 border border-gray-900 text-gray-900 text-lg block w-full p-2.5">
               
               <option *ngFor="let item of statuses" [ngValue]="item" class="text-xs" >
                  {{ item }}
               </option>
            </select>
         </div>
      </div>

      <div class="flex flex-row space-x-2">
         <button type="submit" class="btn bg-blue-700 text-white py-2 px-4 rounded">
            Save
         </button>
         <button type='button' (click)="onCancel()"
            class="btn bg-white text-black py-2 px-4 rounded border border-blue-500">
            Cancel
         </button>
      </div>
   </div>

</form>