.court-item-grid-container {
    height: 100%;
    width: 100%;
    background-color: lightgreen; 
    // margin: 8px;
    // border-radius: 6px;
    // border: 1px solid black;
    padding: 4px;
}

.court-item-grid {
    height: 100%;
    // width: 100%;
    background-color: lightgreen; 
    // margin: 8px;
    // border-radius: 6px;
    // border: 1px solid black;
    // padding: 4px;
}

mat-grid-tile {
    background: WhiteSmoke;
  }
  