
.item-3 {   
    width: 100%;
    margin: 4px;
    border-radius: 6px;
    border: 1px solid black;
    padding-left: 8px;
}

.player {
    color: black;
    background-color: white;
}

.inactive {
    color: silver;
    background-color: white;
}

.suspended {
    color: white;
    background-color: slategray;
} 

.admin {
    color: white;
    background-color: blue;  
}
