<form [formGroup]="form" (ngSubmit)="onSubmit()" >

   <mat-form-field appearance="fill" class="full-width">
      <mat-label>First Name</mat-label>
      <input matInput [formControl]="firstname" type="text" required>
      <mat-error *ngIf="firstname.invalid">{{getErrorMessage(firstname)}}</mat-error>
   </mat-form-field>

   <mat-form-field appearance="fill" class="full-width">
      <mat-label>Last Name</mat-label>
      <input matInput [formControl]="lastname" type='text' required>
      <mat-error *ngIf="lastname.invalid">{{getErrorMessage(lastname)}}</mat-error>
   </mat-form-field>

   <mat-form-field appearance="fill" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput [formControl]="email" type="search" required >
      <mat-error *ngIf="email.invalid">{{getErrorMessage(email)}}</mat-error>
   </mat-form-field>

   <mat-form-field appearance="fill" class="full-width">
      <mat-label>Known as</mat-label>
      <input matInput [formControl]="knownas" type="text" required>
      <mat-error *ngIf="knownas.invalid">{{getErrorMessage(knownas)}}</mat-error>
   </mat-form-field>
 
   <mat-form-field appearance="fill" class="full-width">
      <mat-label>Phone</mat-label>
      <input matInput [formControl]="phone" type="text" required >
      <mat-error *ngIf="phone.invalid">{{getErrorMessage(phone)}}</mat-error>
   </mat-form-field>

   <mat-form-field appearance="fill" class="full-width">
      <mat-label>Password</mat-label>
      <input matInput [formControl]="password" [type]="hide ? 'password' : 'text'" required >
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
         [attr.aria-pressed]="hide">
         <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="password.invalid">{{getErrorMessage(password)}}</mat-error>
   </mat-form-field>

   <mat-card-actions>
      <button mat-raised-button type="submit" [disabled]="!form.valid" color="primary">Register</button>
      <button mat-raised-button routerLink="/account/signin">Cancel</button>
   </mat-card-actions>

</form>