.players-item-grid-container {
    height: 100%;
    width: 100%; 
    background-color: var(--mycontast-light);
    padding: 4px;
}

.players-item-grid {
    height: 100%;
    background-color: var(--mycontrast-light);
}

mat-grid-tile {
    background: WhiteSmoke;
  }
  