
.players-list-listViewport {
     background-color: var(--myprimary-light);  
}

.players-list-row-container {
     height: 200px;
     margin: 8px;
}

.players-list-row {
     height: 200px;
     background-color: var(--mycontrast-light);
     border: 1px solid var(--mycontrast);
}