
.player {
    color: black;
    background-color: white;
}

.inactive {
    color: silver;
    background-color: white;
}

.suspended {
    color: white;
    background-color: slategray;
} 

.admin {
    color: white;
    background-color: blue;  
}
